<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Web x-ray</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
</style>
</head>
<body>

<h1>Web x-ray</h1>

<form action="/getsource/" method="GET">
<label for="siteUrl">Enter site URL</label>
<input type="url" id="siteUrl" name="siteUrl" required>
<input type="submit">
</form>

<p>Source code from:</p>

<pre><code></code></pre>

</body>
</html>
