---
title: Web-x-ray
permalink:
  build: /
  getcode: /getcode/
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
</head>
<body>

<h1>{{ title }}</h1>

<form action="/getcode/" method="GET">
<label for="siteUrl">Enter site URL</label>
<input type="url" id="siteUrl" name="siteUrl" required>
<input type="submit">
</form>

{% set url = eleventy.serverless.query.siteUrl %}

<p>Source code from: <a href="{{ url }}" target="_blank">{{ url }}</a></p>

{% if collections.all[0].template.templateData.globalData.sourceCode %}

{% highlight "html" %}{{ sourceCode | safe }}{% endhighlight %}

{% endif %}

</body>
</html>
